{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Miami Tennis Club</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="/">Miami Tennis Club</a></h1>
      

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>

          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
          <li class="dropdown"><a href="#"><span>Membership</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/join">Enroll</a></li>

              <li><a href="#">Workout</a></li>



              <li><a href="/profile">View Profile</a></li>
            </ul>
          </li>

          {% if not request.user.is_authenticated %}

          <li><a class="nav-link scrollto" href="/signup">Signin</a></li>
          {% else %}
          <li><a class="nav-link scrollto" href="/logout">Logout</a></li>


          {% endif %}





        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

     
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Walcom! To Miami Tennis International Miami Association</h1>
          <h2>We are Miamis Best Tennis Club and have best Training</h2>
        </div>
      </div>



    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="static/assets/img/tennis-2557074_640.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Miami Tennis Club</h3>
            <p class="fst-italic">
              Miami Tennis club is one of the USA's most popular clubs with professional staff
              that offers the best in tennis training.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>We offer our members optional training in all exercises.</li>
              <li><i class="ri-check-double-line"></i>We offer optional matches and tournaments on weekends.</li>
              <li><i class="ri-check-double-line"></i>We also offer admission to the world's elite in tennis for those
                who want to become professionals.</li>
            </ul>
            <p>
              Our Tennis Plan is to practice as a tennis player with different matches and training to reach a higher
              level.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("static/assets/img/tennis-1381230_640.jpg");'
            data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">

            <h4>About Our History</h4>
            <p>Miami Tennis Club has been around since 2001 and has since had several talented members that we have
              trained who have become professionals today. We have a large network of different trainers and good
              training with good possibilities that you who choose us will also become a professional.</p>
          </div>

          <h4>About our Tennis Global</h4>
          <p>We have several members who compete at an international level and will be with this year 2023 in the us
            open mixed and our own Miami open cup. We will be happy to take you who have the talent and desire to these
            levels that these players are at.</p>
        </div>

      </div>
      </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio"></section>
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Tennis club Photo</h2>
        <p>Check out our photos</p>
      </div>


      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">


        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="static/assets/img/portfolio/tennis-5782695_640.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery"
                  class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title=""><i class=""></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="static/assets/img/portfolio/tennis-934841_640.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery"
                  class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title=""><i class=""></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="static/assets/img/portfolio/kim-clijsters-288567_640.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery"
                  class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title=""><i class=""></i></a>
              </div>
            </div>
          </div>
        </div>



      </div>

    </div>

    </section><!-- End Portfolio Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Miami Tennis Club</h3>
              <p>
                F2A1 Pamla Miami Street <br>
                FL 330133, USA<br><br>
                <strong>Phone:</strong> +1 03 5555 7788 0023<br>
                <strong>Email:</strong> Miami@tennisclub.com<br>
              </p>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Miami Tennis Club</span></strong>.
      </div>
      <div class="credits">
        Designed by Miami Tennis Club
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>